<plugin id="cordova-plugin-android-openpdf" version="1.0.5" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>OpenPdfPlugin</name>
	<js-module name="openPdf" src="www/openPdf.js">
		<clobbers target="cordova.plugins.openPdf" />
	</js-module>

	<platform name="android">
		<!-- FileProvider configuration -->
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<provider android:name="androidx.core.content.FileProvider"
                      android:authorities="${applicationId}.provider"
                      android:exported="false"
                      android:grantUriPermissions="true">
				<meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                           android:resource="@xml/provider_paths" />
				<!-- Ensure this matches your XML file name -->
			</provider>
		</config-file>

		<!-- Include the provider paths XML file -->
		<source-file src="src/android/res/xml/provider_paths.xml" target-dir="res/xml" />

		<!-- OpenPdf class configuration -->
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="OpenPdf">
				<param name="android-package" value="nz.bdt.androidopenpdf.OpenPdf" />
			</feature>
		</config-file>
		<source-file src="src/android/OpenPdf.java" target-dir="src/nz/bdt/androidopenpdf" />
		<!-- Adjust package path if necessary -->
	</platform>
</plugin>

